body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 150px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 0px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    text-align: justify;
}

.logout-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 40px;
}

.logout-btn:hover {
    background-color: #0056b3;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.description {
    color: #555;
    max-width: 300px;
    text-align: center;
}
